<%- include header %>

  <div class="container">
    <div class="row col-xs-12">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <strong>查找关键词</strong>
        <form class="form-horizontal" method="GET" action="/search">
          <div class="col-lg-10">
            <div class="input-group">
              <input name="keyword" type="text" class="form-control" placeholder="标识或者关键词..." />
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">查找</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="container">
    <% for(var i=0; i<keys.length; i++) { %>
      <div class="panel panel-primary <%= keys[i]._id %>">
        <div class="panel-heading">
          <div class="list-group-item">
            <h4>
              <a href="/key/info?id=<%= keys[i]._id %>" target="_blank"><%= keys[i].title || keys[i].key %></a>
              <button type="button" class="btn btn-default right">
                <span class="remove list-group-item-danger glyphicon glyphicon-trash" data-id="<%= keys[i]._id %>"></span>
              </button>
              <button type="button" class="btn btn-default right">
                <span class="download list-group-item-info glyphicon glyphicon-download" data-id="<%= keys[i]._id %>"></span>
              </button>
            </h4>
          </div>
        </div>
        <ul class="list-group panel-info">
          <li class="list-group-item list-group-item-success">
            <strong class="list-group-item-heading">关键词汇总：</strong>
            <span class="list-group-item-text"><%= keys[i].key %></span>
          </li>
          <div class="split"></div>
          <li class="list-group-item list-group-item-info">
            <strong class="list-group-item-heading">关键词 id</strong>
            <span class="list-group-item-text"><%= keys[i]._id %></span>
          </li>
          <div class="split"></div>
          <li class="list-group-item list-group-item-info">
            <strong class="list-group-item-heading">查询关键词位置：</strong>
            <span class="list-group-item-text"><%= keys[i].tn === 'newsdy' ? '全文' : '标题' %></span>
          </li>
          <div class="split"></div>
          <li class="list-group-item list-group-item-warning">
            <strong class="list-group-item-heading">查询包含以下全部的关键词：</strong>
            <span class="list-group-item-text"><%= keys[i].q1 %></span>
          </li>
          <div class="split"></div>
          <li class="list-group-item list-group-item-info">
            <strong class="list-group-item-heading">查询包含以下任意一个关键词：</strong>
            <span class="list-group-item-text"><%= keys[i].q3 %></span>
          </li>
          <div class="split"></div>
          <li class="list-group-item list-group-item-warning">
            <strong class="list-group-item-heading">查询不包含以下任意一个关键词：</strong>
            <span class="list-group-item-text"><%= keys[i].q4 %></span>
          </li>
          <!--<div class="split"></div>
          <li class="list-group-item list-group-item-info">
            <strong class="list-group-item-heading">查询限定的新闻源：</strong>
            <span class="list-group-item-text"><%= keys[i].q6 %></span>
          </li>-->
          <div class="split"></div>
          <li class="list-group-item list-group-item-warning">
            <strong class="list-group-item-heading">添加时间：</strong>
            <span class="list-group-item-text"><%= moment(keys[i].createdAt).format('YYYY-MM-DD HH:mm:ss') %></span>
          </li>
        </ul>
      </div>
    <% } %>
  </div>

  <% if(pages > 1){ %>
  <div class="container">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <ul class="pagination">
        <% if(page == 1){ %>
          <li class="disabled"><a>首页</a></li>
          <li class="active"><a><%= page %></a></li>
          <li><a href="/key?page=<%= parseInt(page)+1 %>"><%= parseInt(page)+1 %></a></li>
          <li><a href="/key?page=<%= pages %>">尾页</a></li>
        <% }else if(page == pages){ %>
          <li><a href="/key?page=1">首页</a></li>
          <li><a href="/key?page=<%= parseInt(page)-1 %>"><%= parseInt(page)-1 %></a></li>
          <li class="active"><a><%= pages %></a></li>
          <li class="disabled"><a>尾页</a></li>
        <% }else{ %>
          <li><a href="/key?page=1">首页</a></li>
          <li><a href="/key?page=<%= parseInt(page)-1 %>"><%= parseInt(page)-1 %></a></li>
          <li class="active"><a><%= page %></a></li>
          <li><a href="/key?page=<%= parseInt(page)+1 %>"><%= parseInt(page)+1 %></a></li>
          <li><a href="/key?page=<%= pages %>">尾页</a></li>
        <% } %>
      </ul>
    </div>
    <div class="col-xs-2"></div>
  </div>
<% } %>

<script src="/javascripts/key.js"></script>

  <%- include footer %>