<%- include header %>

  <div class="container">
    <% for(var i=0; i<news.length; i++) { %>
      <div class="list-group col-xs-4">
        <a href="<%= news[i].url %>" target="_blank" class="list-group-item active">
          <h4 class="list-group-item-heading"><%= news[i].title %></h4>
        </a>
        <a class="list-group-item">
          <span class="list-group-item-text"><%= news[i].author %></span>
        </a>
        <a class="list-group-item">
          <span class="list-group-item-text"><%= moment(news[i].publishedAt).format('YYYY-MM-DD HH:mm:ss') %></span>
        </a>
        <a class="list-group-item">
          <span class="list-group-item-text"><%= news[i].summary %></span>
        </a>
        <a class="list-group-item">
          <span class="list-group-item-text"><%= moment(news[i].createdAt).format('YYYY-MM-DD HH:mm:ss') %></span>
        </a>
      </div>
      <% } %>

  </div>

  <% if(pages > 1){ %>
  <div class="container">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <ul class="pagination">
        <% if(page == 1){ %>
          <li class="disabled"><a>首页</a></li>
          <li class="active"><a><%= page %></a></li>
          <li><a href="/news?page=<%= parseInt(page)+1 %>"><%= parseInt(page)+1 %></a></li>
          <li><a href="/news?page=<%= pages %>">尾页</a></li>
        <% }else if(page == pages){ %>
          <li><a href="/news?page=1">首页</a></li>
          <li><a href="/news?page=<%= parseInt(page)-1 %>"><%= parseInt(page)-1 %></a></li>
          <li class="active"><a><%= pages %></a></li>
          <li class="disabled"><a>尾页</a></li>
        <% }else{ %>
          <li><a href="/news?page=1">首页</a></li>
          <li><a href="/news?page=<%= parseInt(page)-1 %>"><%= parseInt(page)-1 %></a></li>
          <li class="active"><a><%= page %></a></li>
          <li><a href="/news?page=<%= parseInt(page)+1 %>"><%= parseInt(page)+1 %></a></li>
          <li><a href="/news?page=<%= pages %>">尾页</a></li>
        <% } %>
      </ul>
    </div>
    <div class="col-xs-4"></div>
  </div>
<% } %>

  <%- include footer %>