<%- include header %>

  <div class="container">
    <% for(var i=0; i<news.length; i++) { %>
      <div class="panel panel-primary">

        <div class="panel-heading">
          <a href="<%= news[i].url %>" target="_blank" class="list-group-item list-group-item-success">
            <h4 class="list-group-item-heading"><%= news[i].title %></h4>
          </a>
        </div>

        <ul class="list-group panel-info">
          <li class="list-group-item list-group-item-info">
            <strong class="list-group-item-heading">新闻来源：</strong>
            <span class="list-group-item-text"><%= news[i].author %></span>
          </li>
          <div class="split"></div>
          <li class="list-group-item list-group-item-warning">
            <strong class="list-group-item-heading">新闻摘要：</strong>
            <span class="list-group-item-text"><%= news[i].summary %></span>
          </li>
          <div class="split"></div>
          <li class="list-group-item list-group-item-info">
            <strong class="list-group-item-heading">新闻发布时间：</strong>
            <span class="list-group-item-text"><%= moment(news[i].publishedAt).format('YYYY-MM-DD HH:mm:ss') %></span>
          </li>
          <div class="split"></div>
          <li class="list-group-item list-group-item-warning">
            <strong class="list-group-item-heading">新闻采集时间：</strong>
            <span class="list-group-item-text"><%= moment(news[i].createdAt).format('YYYY-MM-DD HH:mm:ss') %></span>
          </li>
        </ul>
      </div>
    <% } %>
  </div>

  <% if(pages > 1){ %>
  <div class="container">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <ul class="pagination">
        <% if(page == 1){ %>
          <li class="disabled"><a>首页</a></li>
          <li class="active"><a><%= page %></a></li>
          <li><a href="/news?page=<%= parseInt(page)+1 %>"><%= parseInt(page)+1 %></a></li>
          <li><a href="/news?page=<%= pages %>">尾页</a></li>
        <% }else if(page == pages){ %>
          <li><a href="/news?page=1">首页</a></li>
          <li><a href="/news?page=<%= parseInt(page)-1 %>"><%= parseInt(page)-1 %></a></li>
          <li class="active"><a><%= pages %></a></li>
          <li class="disabled"><a>尾页</a></li>
        <% }else{ %>
          <li><a href="/news?page=1">首页</a></li>
          <li><a href="/news?page=<%= parseInt(page)-1 %>"><%= parseInt(page)-1 %></a></li>
          <li class="active"><a><%= page %></a></li>
          <li><a href="/news?page=<%= parseInt(page)+1 %>"><%= parseInt(page)+1 %></a></li>
          <li><a href="/news?page=<%= pages %>">尾页</a></li>
        <% } %>
      </ul>
    </div>
    <div class="col-xs-4"></div>
  </div>
<% } %>

  <%- include footer %>